# Конфиденциальные данные
.env

# Базы данных
*.sqlite3
*.db

# Виртуальные окружения
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки сред разработки (IDE)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
